# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import csv
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [37]:
city_data = '../weather_output_data/city_data.csv'
city_df = pd.read_csv(city_data)
city_df = city_df.set_index('City_ID')
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
0,avarua,79,CK,1595624318,65,-21.21,-159.78,77.0,4.70
1,saint george,1,US,1595624173,26,37.10,-113.58,95.0,10.29
2,dasoguz,62,TM,1595624319,42,41.84,59.97,80.6,8.39
3,albany,65,US,1595624102,42,42.60,-73.97,91.0,3.20
4,ushuaia,90,AR,1595624118,95,-54.80,-68.30,32.0,5.82

In [38]:
city_df.dtypes

City           object
Cloudiness      int64
Country        object
Date            int64
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)

In [27]:
locations = city_df[["Lat", "Lng"]].astype(float)
humidity = city_df['Humidity'].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [59]:
ideal_df = city_df[(city_df['Max Temp']>70)&(city_df['Max Temp']<80)&(city_df['Wind Speed']<5)&(city_df['Cloudiness']==0)]
ideal_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
63,awbari,0,LY,1595624333,19,26.59,12.78,79.92,4.59
95,ponta do sol,0,PT,1595624341,61,32.67,-17.10,71.01,3.47
242,aksu,0,CN,1595624378,32,41.12,80.26,76.23,0.45
386,formosa do rio preto,0,BR,1595624276,42,-11.05,-45.19,77.61,4.27
463,tiznit,0,MA,1595624442,48,29.58,-9.50,77.85,2.37
479,crotone,0,IT,1595624447,58,39.09,17.12,79.00,4.21

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [61]:
hotel_df = pd.DataFrame(ideal_df)
hotel_df['Hotel Name'] = ''
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
City_ID,,,,,,,,,,
63,awbari,0,LY,1595624333,19,26.59,12.78,79.92,4.59,
95,ponta do sol,0,PT,1595624341,61,32.67,-17.10,71.01,3.47,
242,aksu,0,CN,1595624378,32,41.12,80.26,76.23,0.45,
386,formosa do rio preto,0,BR,1595624276,42,-11.05,-45.19,77.61,4.27,
463,tiznit,0,MA,1595624442,48,29.58,-9.50,77.85,2.37,
479,crotone,0,IT,1595624447,58,39.09,17.12,79.00,4.21,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure